.add-screen {
  margin-top: 250px;
  background-color: darkgoldenrod;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app {
  column-count: 3;
  column-gap: 10px;
}

html {
  background-color: black;
  background-size: cover;
}

::placeholder {
  text-align: center;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
  text-align: center;
}

.li {
  text-align: center;
}

textarea {
  text-align: center;
  font: 1em sans-serif;
  background-color: wheat;
  resize: none;
}

#items {
  background-color: yellow;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-size: cover;
}

.form-group {
  padding-top: 10px;
  padding-bottom: 10px;
}

input[placeholder="name"] {
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

input[placeholder="age"] {
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

#name {
  margin-right: 4px;
}

label[for="price"] {
  color: white;
}
